<div class="container col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6">
      <br>
      <div class="card">
        <div class="card-block">
          <h3 class="card-title font-logo">Kardoesie</h3>
          <h4 class="card-subtitle text-muted">Vivace and Cotton Road Online Shopping Cart</h4>
        </div>
        <br>
      <div class="card-block">
        <p class="card-text"><strong>Address:</strong>&nbsp;Cultuursingel 32 8256AM Biddinghuizen The Netherlands Province flevoland</p>
        <p class="card-text"><strong>Phone:</strong>&nbsp;+31651900027</p>
        <p class="card-text"><a href="mailto:info@kardoesie.nl"><strong>Email:</strong>&nbsp;info@kardoesie.nl</a></p>
        <br>
        </p>
          Thank you for visiting our website. If you have any inquiries or questions,<br>
          please do not hesitate to contact us. We will respond as soon as possible.<br><br><br>
          Kind regards,<br>
          <strong>Team Kardoesie</strong>
        </p>
      </div>
  </div>
<div >
  </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
      <form action="subscribe" id="invite" method="POST" onsubmit="return false;">
        <br>
        <p>
          <h3><strong>Need Help?</strong></h3>
          <br>
          Write us your inquiry.
        </p>
      <div class="col-md-8">
          <input class="form-control" type="text" placeholder="Type your Name" name="name" id="name">
          </input>
          <br>
          <input class="form-control" type="text" placeholder="+31.." name="phone_number" id="phone">
          </input>
          <br>
          <input class="form-control" type="text" placeholder="your@email.com" name="email" id="email">
          </input>
          <br>
          <input class="form-control" type="text" placeholder="Ref No." name="name" id="text">
          </input>
          <br>
          <select class="form-control">
            <option>Select the title:</option>
            <option>About the Product</option>
            <option>Payment</option>
            <option>Refund</option>
            <option>Follow Up</option>
          </select>
          <br>
          <textarea class="form-control" type="text-decoration" placeholder="your@email.com" name="email" id="email">
          </textarea>
          <br>
          <input class="btn btn-block btn-success" type="submit" value="Send">
          </input>
          <br>
        </div>
        <div class="col-md-3"><span id="result"></span></div>
      </div>
      </form>
    </div>
  </div>

</div>
